body {
    background: #5d59599a;
}

article {
    background: #9c9b9b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#headsup{
    text-align: center;
}

.flexing{
display: flex;
background: #8c8b8b;
}

.nav{
    background: #8c8b8b;
    position: sticky;
    top: 0;
}

.conni{
    text-align: center;
}

.news{
    text-align: center;
    font-style: italic;
}

.meimg{
    height: 500px;
    width: 500px;
    float: right;
}

.meme{
    text-align: center;
    font-size: small; 
}

.wpic{
    height: 50px;
    width: 50px;
    float: right;
    margin-left: 20px;
}

.cpic{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 20px;
}