body {
    background: #5d59599a;
}

article {
    background: #b1afaf;
}

#headsup{
    text-align: center;
}
.flexing{
display: flex;
background: #8c8b8b;
}

.nav{
    background: #8c8b8b;
    position: sticky;
    top: 0;
}

.conni{
    text-align: center;
}